extends layout
script
	$(":file").filestyle();

block content
	h1= title
	p Pre-Work OML by Sushant
	form(id="uplod_image", method="post", action="")
		div.input-group.input-group-lg
			input.filestyle(type="file", accept="image/*", placeholder="placeholder")
		div.input-group.input-group-lg
			input.btn.btn-block.btn-success(type="submit")