doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", type="text/css", href="/bootstrap/css/bootstrap.min.css")
    link(rel="stylesheet", type="text/css", href="/bootstrap/css/bootstrap-theme.min.css")
    link(rel="stylesheet", type="text/css", href="/stylesheets/custom.css")
  body
    block content
    script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    script(type="text/javascript", src="/bootstrap/js/bootstrap.min.js")
    script(type="text/javascript", src="/bootstrap/js/bootstrap-filestyle.min.js")